*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
.eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
venv*
.python-version

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/modules.rst
docs/web3.auto.infura.rst
docs/web3.auto.rst
docs/web3.gas_strategies.rst
docs/web3.middleware.rst
docs/web3.providers.eth_tester.rst
docs/web3.providers.rst
docs/web3.rst
docs/web3.scripts.release.rst
docs/web3.scripts.rst
docs/web3.tools.pytest_ethereum.rst
docs/web3.tools.rst

# Blockchain
chains

# Hypothese Property base testing
.hypothesis

# tox/pytest cache
.cache
.pytest_cache

# Test output logs
logs
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# VIM temp files
*.swp

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ / IDEA / PyCharm
/out/
.idea/
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# VS Code
.vscode/

# DS Store files
*.DS_Store

# mypy Cache
.mypy_cache/

# pip wheel metadata
pip-wheel-metadata/

# jupyter notebook files
*.ipynb
