sudo: required
language: python
dist: trusty
env:
  global:
    - GETH_BASE_INSTALL_PATH=$TRAVIS_BUILD_DIR/gethbin
    - PARITY_BASE_INSTALL_PATH=$TRAVIS_BUILD_DIR/paritybin
matrix:
  include:
    #
    # Python 3.5 testing
    #
    # go-ethereum-ipc v1.7.2
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-goethereum-ipc" GETH_VERSION=v1.7.2
    # go-ethereum-http v1.7.2
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-goethereum-http" GETH_VERSION=v1.7.2
    # go-ethereum-ws v1.7.2
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-goethereum-ws" GETH_VERSION=v1.7.2
    # go-ethereum-ipc v1.8.1
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-goethereum-ipc" GETH_VERSION=v1.8.1
    # go-ethereum-http v1.8.1
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-goethereum-http" GETH_VERSION=v1.8.1
    # go-ethereum-ws v1.8.1
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-goethereum-ws" GETH_VERSION=v1.8.1
    # parity-ipc
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-parity-ipc" PARITY_VERSION=v1.10.4 PARITY_OS=debian
    # parity-http
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-parity-http" PARITY_VERSION=v1.10.4 PARITY_OS=debian
    # parity-ws
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-parity-ws" PARITY_VERSION=v1.10.4 PARITY_OS=debian
    # ENS
    - python: "3.5"
      env: TOX_POSARGS="-e py35-ens"
    # core
    - python: "3.5"
      env: TOX_POSARGS="-e py35-core"
    # eth-tester-pyethereum16
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-ethtester" ETHEREUM_TESTER_CHAIN_BACKEND=eth_tester.backends.PyEthereum16Backend
    # eth-tester-pyevm
    - python: "3.5"
      env: TOX_POSARGS="-e py35-integration-ethtester" ETHEREUM_TESTER_CHAIN_BACKEND=eth_tester.backends.PyEVMBackend
    #
    # Python 3.6 testing
    #
    # go-ethereum-ipc v1.7.2
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-goethereum-ipc" GETH_VERSION=v1.7.2
    # go-ethereum-http v1.7.2
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-goethereum-http" GETH_VERSION=v1.7.2
    # go-ethereum-ws v1.7.2
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-goethereum-ws" GETH_VERSION=v1.7.2
    # go-ethereum-ipc v1.8.1
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-goethereum-ipc" GETH_VERSION=v1.8.1
    # go-ethereum-http v1.8.1
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-goethereum-http" GETH_VERSION=v1.8.1
    # go-ethereum-ws v1.8.1
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-goethereum-ws" GETH_VERSION=v1.8.1
    # parity-ipc
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-parity-ipc" PARITY_VERSION=v1.10.4 PARITY_OS=debian
    # parity-http
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-parity-http" PARITY_VERSION=v1.10.4 PARITY_OS=debian
    # parity-ws
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-parity-ws" PARITY_VERSION=v1.10.4 PARITY_OS=debian
    # ENS
    - python: "3.6"
      env: TOX_POSARGS="-e py36-ens"
    # lint
    - python: "3.6"
      env: TOX_POSARGS="-e lint"
    # doctest
    - python: "3.6"
      env: TOX_POSARGS="-e doctest"
    # core
    - python: "3.6"
      env: TOX_POSARGS="-e py36-core"
    # eth-tester-pyethereum16
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-ethtester" ETHEREUM_TESTER_CHAIN_BACKEND=eth_tester.backends.PyEthereum16Backend
    # eth-tester-pyevm
    - python: "3.6"
      env: TOX_POSARGS="-e py36-integration-ethtester" ETHEREUM_TESTER_CHAIN_BACKEND=eth_tester.backends.PyEVMBackend
cache:
  - pip: true
  - directories:
    - $HOME/.ethash/
    - $GETH_BASE_INSTALL_PATH/
    - $PARITY_BASE_INSTALL_PATH/
before_install:
  - if [ -n "$GETH_VERSION" ]; then mkdir -p $HOME/.ethash; fi
install:
  - travis_retry pip install pip setuptools --upgrade
  - travis_retry pip install tox
  - if [ -n "$PARITY_VERSION" ]; then travis_retry pip install eth_utils tqdm requests eth-hash[pycryptodome]; fi
before_script:
  - python --version
  - pip --version
  - if [ -n "$GETH_VERSION" ]; then travis_retry pip install py-geth>=1.10.1; fi
  - if [ -n "$GETH_VERSION" ]; then export GOROOT=/usr/lib/go-1.7; fi
  - if [ -n "$GETH_VERSION" ]; then export GETH_BINARY="$GETH_BASE_INSTALL_PATH/geth-$GETH_VERSION/bin/geth"; fi
  - if [ -n "$GETH_VERSION" ] && [ ! -e "$GETH_BINARY" ]; then travis_retry sudo add-apt-repository -y ppa:gophers/archive; fi
  - if [ -n "$GETH_VERSION" ] && [ ! -e "$GETH_BINARY" ]; then travis_retry sudo apt-get update; fi
  - if [ -n "$GETH_VERSION" ] && [ ! -e "$GETH_BINARY" ]; then travis_retry sudo apt-get install -y golang-1.7 build-essential; fi
  - if [ -n "$GETH_VERSION" ] && [ ! -e "$GETH_BINARY" ]; then python -m geth.install $GETH_VERSION; fi
  - if [ -n "$GETH_VERSION" ]; then $GETH_BINARY version; fi
  - if [ -n "$GETH_VERSION" ]; then $GETH_BINARY makedag 0 $HOME/.ethash; fi
  - if [ -n "$PARITY_VERSION" ]; then python tests/integration/parity/install_parity.py $PARITY_VERSION; fi
  - pip freeze
script:
  - tox $TOX_POSARGS
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/8210e0e2df3ad138a505
    on_success: change
    on_failure: never
    on_cancel: never
