sudo: false
language: python
python:
  - "3.5"
dist: trusty
sudo: required
before_install:
  - travis_retry sudo add-apt-repository -y ppa:ethereum/ethereum
  - travis_retry sudo apt-get update
env:
  matrix:
    - TOX_ENV=py27-all-stdlib
    - TOX_ENV=py34-all-stdlib
    - TOX_ENV=py35-all-stdlib
    - TOX_ENV=py27-all-gevent
    - TOX_ENV=py34-all-gevent
    - TOX_ENV=py35-all-gevent
    - TOX_ENV=flake8
cache:
  pip: true
install:
  - "travis_retry pip install pip setuptools --upgrade"
  - "travis_retry pip install tox"
script:
  - tox -e $TOX_ENV --recreate
after_script:
  - cat .tox/$TOX_ENV/log/*.log
