sudo: false
language: python
python:
  - "3.5"
dist: trusty
sudo: required
before_install:
  - travis_retry sudo add-apt-repository -y ppa:ethereum/ethereum
  - travis_retry sudo apt-get update
  - travis_retry sudo apt-get install -y ethereum
  - travis_retry sudo apt-get install -y solc
  - mkdir -p ~/.ethash
  - geth makedag 0 ~/.ethash
env:
  matrix:
    - TOX_ENV=py27
    - TOX_ENV=py34
    - TOX_ENV=py35
    - TOX_ENV=flake8
cache:
  pip: true
  directories:
    - ~/.ethash
    - .tox/py27/.hypothesis
    - .tox/py34/.hypothesis
    - .tox/py35/.hypothesis
install:
  - "travis_retry pip install setuptools --upgrade"
  - "travis_retry pip install tox"
before_script:
  - geth version
script:
  - tox -e $TOX_ENV -- tests/ -n 2
after_script:
  - cat .tox/$TOX_ENV/log/*.log
