include LICENSE
include VERSION
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include ethpm/assets/ *
recursive-include ethpm/ethpm-spec/examples *
recursive-include ethpm/ethpm-spec/spec *
