include LICENSE
include README.md

recursive-include ens/specs *
recursive-include scripts *
recursive-include tests *

global-include *.pyi

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
prune .tox
prune venv*
