[tool.towncrier]
    package="web3"
    filename = "docs/releases.rst"
    directory = "newsfragments"
    underlines = ["-", "~", "^"]
    issue_format = "`#{issue} <https://github.com/ethereum/web3.py/issues/{issue}>`__"
    title_format = "v{version} ({project_date})"

[[tool.towncrier.type]]
directory = "breaking-change"
name="Breaking Changes"
showcontent=true

[[tool.towncrier.type]]
directory = "deprecation"
name = "Deprecations"
showcontent = true

[[tool.towncrier.type]]
directory = "bugfix"
name="Bugfixes"
showcontent=true

[[tool.towncrier.type]]
directory = "doc"
name="Documentation Updates"
showcontent=true

[[tool.towncrier.type]]
directory = "feature"
name="Features"
showcontent=true

[[tool.towncrier.type]]
directory = "misc"
name="Misc"
showcontent=false

[tool.isort]
profile="black"
