# empty to prevent failure due to system dependency requirements
mock
sphinx-better-theme>=0.1.4
#
# actual requirements
#
click>=5.1
configparser==3.5.0
contextlib2>=0.5.4
#eth-testrpc>=0.8.0
#ethereum-tester-client>=1.1.0
ethtoken
py-geth>=1.4.0
py-solc>=0.4.0
pytest>=2.7.2
sphinx
sphinx_rtd_theme>=0.1.9
toposort>=1.4
urllib3
web3>=2.1.0
wheel
