version: 2.0

# heavily inspired by https://raw.githubusercontent.com/pinax/pinax-wiki/6bd2a99ab6f702e300d708532a6d1d9aa638b9f8/.circleci/config.yml

common: &common
  working_directory: ~/repo
  steps:
    - checkout
    - restore_cache:
        keys:
          - cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: run tox
        command: ~/.local/bin/tox -r
    - save_cache:
        paths:
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
          - ~/.ethash
          - ~/.py-geth
        key: cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}

parity_steps: &parity_steps
  working_directory: ~/repo
  steps:
    - checkout
    - restore_cache:
        keys:
          - cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: install parity if needed
        command: |
          pip install --user requests eth_utils tqdm eth-hash[pycryptodome]
          echo $PARITY_VERSION
          python tests/integration/install_parity.py $PARITY_VERSION
    - run:
        name: run tox
        command: ~/.local/bin/tox -r
    - save_cache:
        paths:
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
          - ~/.ethash
          - ~/.py-geth
        key: cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}

geth_steps: &geth_steps
  working_directory: ~/repo
  steps:
    - checkout
    - restore_cache:
        keys:
          - cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}
    - run:
        name: install dependencies
        command: pip install --user tox
    - run:
        name: build geth if missing
        command: |
          mkdir -p $HOME/.ethash
          pip install --user py-geth>=1.10.1
          export GOROOT=/usr/local/go
          export GETH_BINARY="$HOME/.py-geth/geth-$GETH_VERSION/bin/geth"
          if [ ! -e "$GETH_BINARY" ]; then
            curl -O https://storage.googleapis.com/golang/go1.7.4.linux-amd64.tar.gz
            tar xvf go1.7.4.linux-amd64.tar.gz
            sudo chown -R root:root ./go
            sudo mv go /usr/local
            sudo ln -s /usr/local/go/bin/go /usr/local/bin/go
            sudo apt-get update;
            sudo apt-get install -y build-essential;
            python -m geth.install $GETH_VERSION;
          fi
          sudo ln -s /home/circleci/.py-geth/geth-$GETH_VERSION/bin/geth /usr/local/bin/geth
          geth version
          geth makedag 0 $HOME/.ethash
    - run:
        name: run tox
        command: ~/.local/bin/tox -r
    - save_cache:
        paths:
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
          - ~/.ethash
          - ~/.py-geth
        key: cache-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}


jobs:
  #
  # Python 3.5
  #
  py35-core:
    <<: *common
    docker:
      - image: circleci/python:3.5
    environment:
      TOXENV: py35-core

  py35-ens:
    <<: *common
    docker:
      - image: circleci/python:3.5
    environment:
      TOXENV: py35-ens

  py35-integration-goethereum-1.7.2:
    <<: *geth_steps
    docker:
      - image: circleci/python:3.5
    environment:
      TOXENV: py35-integration-goethereum
      GETH_VERSION: v1.7.2

  py35-integration-goethereum-1.8.1:
    <<: *geth_steps
    docker:
      - image: circleci/python:3.5
    environment:
      TOXENV: py35-integration-goethereum
      GETH_VERSION: v1.8.1

  py35-integration-parity:
    <<: *parity_steps
    docker:
      - image: circleci/python:3.5
    environment:
      TOXENV: py35-integration-parity
      PARITY_VERSION: v1.8.8

  py35-integration-ethtester-pyethereum:
    <<: *common
    docker:
      - image: circleci/python:3.5
    environment:
      TOXENV: py35-integration-ethtester
      ETHEREUM_TESTER_CHAIN_BACKEND: eth_tester.backends.PyEthereum16Backend

  py35-integration-ethtester-pyevm:
    <<: *common
    docker:
      - image: circleci/python:3.5
    environment:
      TOXENV: py35-integration-ethtester
      ETHEREUM_TESTER_CHAIN_BACKEND: eth_tester.backends.PyEVMBackend
  #
  # Python 3.6
  #
  lint:
    <<: *common
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: lint

  doctest:
    <<: *common
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: doctest

  py36-core:
    <<: *common
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: py36-core

  py36-ens:
    <<: *common
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: py36-ens

  py36-integration-goethereum-1.7.2:
    <<: *geth_steps
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: py36-integration-goethereum
      GETH_VERSION: v1.7.2

  py36-integration-goethereum-1.8.1:
    <<: *geth_steps
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: py36-integration-goethereum
      GETH_VERSION: v1.8.1

  py36-integration-parity:
    <<: *parity_steps
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: py36-integration-parity
      PARITY_VERSION: v1.8.8

  py36-integration-ethtester-pyethereum:
    <<: *common
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: py36-integration-ethtester
      ETHEREUM_TESTER_CHAIN_BACKEND: eth_tester.backends.PyEthereum16Backend

  py36-integration-ethtester-pyevm:
    <<: *common
    docker:
      - image: circleci/python:3.6
    environment:
      TOXENV: py36-integration-ethtester
      ETHEREUM_TESTER_CHAIN_BACKEND: eth_tester.backends.PyEVMBackend

workflows:
  version: 2
  test:
    jobs:
      - lint
      - doctest
      - py35-core
      - py35-ens
      - py35-integration-goethereum-1.7.2
      - py35-integration-goethereum-1.8.1
      - py35-integration-parity
      - py35-integration-ethtester-pyethereum
      - py35-integration-ethtester-pyevm
      - py36-core
      - py36-ens
      - py36-integration-goethereum-1.7.2
      - py36-integration-goethereum-1.8.1
      - py36-integration-parity
      - py36-integration-ethtester-pyethereum
      - py36-integration-ethtester-pyevm
