/**
 * Styles to display PyChain 2022 banner under the search box.
 */

.search-banner-wrapper img {
    width: auto;
    height: auto;
    padding: 0;
    border-radius: 0;   
    margin: 12px 0 0 0;
}